
@{
    ViewData["Title"] = "Landing Page";
}

<div class="jumbotron">
    <h1>Project 5 CS 460 Fall term</h1>
</div>

Links to other Forms
<div>
    <ul>
        <li>@Html.ActionLink("Change Address Form", "Create")</li>
        <li>@Html.ActionLink("View Pending Forms", "DataList")</li>
    </ul>


</div> 